.newExpense {
  background-color: #009;
  padding: 20px 40px;
  text-align: center;
}
button {
  border: none;
  background-color: #f05;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 4px 4px 5px 0px #0007, -2px -2px 5px 0px #fff3,
    inset 2px 2px 5px 0px #0007, inset -4px -4px 5px 0px #fff3;
}
button:hover,
button:active {
  transform: scale(1.1);
}
